{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
<p><a href="http://www.szybkieczytanie-poznan.pl/o-firmie-1/">Potwierdzenie naukowości oraz skuteczności metod szybkiego czytania oraz zapamiętywania</a></p>
<p><a href="http://www.akademiaedukacji.pl/edu/rekomendacje">Rekomendacje szk&oacute;ł</a></p>

{% endblock %}
{% block script %}{% endblock %}