{% extends 'DefaultBundle::base.html.twig' %}


{% block body %}

<blockquote>
  <p>Myślenie, które zrodziło problem nie może być tym myśleniem, które problem rozwiąże.</p>
  <footer>Albert Einstein </footer>
</blockquote>
<h3>Czym jest dysleksja?</h3>
<img src="{{asset('image/dysleksja.jpg')}}"  width="350" height="250" style = "float:left; margin: 15px">
<p>Istnieje kilka definicji tego zjawiska, jedne skupiają się na przyczynach powstania inne na objawach.</p>
<p>Og&oacute;lnie rzecz biorąc jest to pewnego rodzaju zaburzenie, kt&oacute;re objawia się specyficznymi trudnościami w nauce czytania lub szerzej ujmując trudnościami w nauce. Zjawisko występuję u os&oacute;b, kt&oacute;re są&nbsp; prawidłowo rozwinięte intelektualnie i nie powinny mieć z nauką problem&oacute;w. Nie rzadko są to osoby o ilorazie inteligencji znacznie przewyższającym wartość średniego wsp&oacute;łczynnika, przykładem dyslektyka jest Albert Einstein.</p>
<p>Należy podkreślić, że dysleksja to nie choroba, z kt&oacute;rej można się wyleczyć, dyslektykiem jest się na całe życie. Osobę z dysleksją charakteryzuje inny spos&oacute;b pracy m&oacute;zgu.</p>
<h3>Dlaczego więc osoby z dysleksją mają takie problemy???</h3>
<p>Z przeprowadzonych badań jasno wynika, że u takich os&oacute;b w trakcie czytania dodatkowo uaktywniają się trzy ośrodki w prawej p&oacute;łkuli m&oacute;zgu, ten efekt nie występuje u os&oacute;b bez dysleksji. Wiadomo, że jeden z tych ośrodk&oacute;w jest odpowiedzialny za postrzeganie obraz&oacute;w w całości. Skutek tego jest taki, że uczeń w szkole podstawowej w procesie nauki czytania dostaje do przeczytania słowa, kt&oacute;re są podzielone na literki, np. K-O-T, czyta K, czyta O, czyta T, ale nie potrafi tego złożyć w jedno słowo KOT i nie potrafi skojarzyć tego słowa z tym co zna z rzeczywistości, czyli z futrzastym, małym zwierzątkiem, kt&oacute;re biega po podw&oacute;rku. Na tym polega problem u os&oacute;b z dysleksją, wiedzą co oznacza słowo kot, bo można się z nimi komunikować ustnie i doskonale rozumieją to co się do nich m&oacute;wi, ale jeżeli mają to słowo zapisane, podzielone na literki, wtedy ten proces nie zachodzi. Można z tego wyciągnąć następujący wniosek, skoro dyslektyk zna znaczenie sł&oacute;w, dodatkowo widzi obrazy w całości, więc w ten spos&oacute;b należy go uczyć czytać, całymi wyrazami, osoba z dysleksją ma problem z nauką czytania, jeżeli jest nauczana, że każda literka to osobny obraz, a literka sama w sobie nie ma żadnego znaczenia, dopiero zbi&oacute;r literek, kt&oacute;ry układa się w słowo ma sens i tak powinien być odbierany, całe słowo to jeden obraz.</p>
<p>Jak już zostało powiedziane, dyslektycy to osoby, kt&oacute;re postrzegają w spos&oacute;b całościowy, nie tylko w kwestii czytania. Dyslektycy mają sw&oacute;j własny indywidualny system nauki "od og&oacute;łu do szczeg&oacute;łu"</p>
<p>Aby się czegoś nauczyć muszą mieć najpierw og&oacute;lny zarys zagadnienia, jego strukturę i dopiero wtedy są w stanie podpinać nowe informacje i odpowiednio je lokować w większej kompozycji.</p>
<p>Istnieje olbrzymia ilość sposob&oacute;w przy pomocy, kt&oacute;rych dyslektycy mogą całkiem sprawnie czytać i się uczyć, pod warunkiem, że będą to inne metody niż te, kt&oacute;rych używali wcześniej.</p>
{% endblock %}
{% block script %}{% endblock %}