{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}



<h3>Dziękujemy za zapis!!!</h3>
<p>Sprawdz skrzynkę e-mail, właśnie został do Ciebie wysłany email z potwierdzeniem miejsca na naszym kursie. Jeżeli nie odnajdziesz wiadomości, sprawdz folder spam. </p>


<!--
{% for messages in app.flashes('success') %}

<div class="alert alert-success" role="alert">{{ messages }}</div>

{% endfor %}
-->

<!--
{% for messages in app.flashes('error') %}

<div class="alert alert-danger" role="alert">{{ messages }}</div>

{% endfor %}
-->

{% endblock %}

{% block script %}{% endblock %}







