{% extends 'DefaultBundle::base.html.twig' %}
{% block body %}

><p>Program kursu &rdquo;Lepiej się uczę, szybko czytam&rdquo;</p>
<p>32 tygodnie zajęć, 64 godziny lekcyjne, spotkanie raz w tygodniu</p>
<hr />
<p>CZYTANIE</p>
<hr />
<p>Poszerzanie pola widzenia - w czasie czytania nasze oczy oglądają tylko pojedyncze słowa. U dzieci są to najczęściej pojedyncze literki lub sylaby, jednak dzięki odpowiednim ćwiczeniom można nauczyć się obejmować jednym spojrzeniem całe grupy wyraz&oacute;w.></p>
<p>Szybszy ruch oczu po tekście - przy tradycyjnym czytaniu oczy dzieci poruszają się bardzo wolno przez zastosowanie wskaźnika i ćwiczenie mięśni oczu ten ruch można znacząco przyspieszyć.</p>
<p>Techniki prowadzenia wskaźnika - kursanci poznają i ćwiczą 5 technik prowadzenia wskaźnika po tekście. W zależności od rodzaju tekstu potrafią zastosować odpowiednią technikę w celu lepszego zrozumienia tekstu.</p>
<p>Szybsze postrzeganie  - gdy oczy poruszają się wolno, jest dużo czasu na obejrzenie sł&oacute;w, przez odpowiednie ćwiczenia oczy wypracowują sobie umiejętność szybszego rozpoznawania wyraz&oacute;w.</p>
<p>Pojemność pamięci kr&oacute;tkotrwałej - dostrzeżone słowa muszą zostać zapamiętane, ćwiczymy zatem pojemność pamięci.</p>
<p>Umiejętność wyciągania sensu z zapamiętanego obrazu sł&oacute;w - aby pojawiło się zrozumienie tekstu, umysł, kt&oacute;ry pracuje na sensie, na znaczeniu sł&oacute;w, a nie na ich graficznym obrazie musi szybko ten sens wyciągnąć, nim obraz słowa zostanie zapomniany a pamięć zrobi miejsce na kolejną porcję informacji. To jeden z kluczowych element&oacute;w, do kt&oacute;rego przykładamy olbrzymią wagę, bo on decyduje o dobrym zrozumieniu tekstu.</p>
<p>Zestaw ćwiczeń skutkuje przyspieszeniem tempa czytania od 3 do 5 razy, choć kursanci, kt&oacute;rzy się przykładają osiągają kilkunastokrotne przyspieszenie z zachowaniem lub podniesieniem poziomu zrozumienia czytanego tekstu. </p>
<hr />
<p>PAMIĘĆ</p>
<hr />
<p>Łańcuchowa metoda zapamiętywania- doskonale sprawdza się w przypadku konieczności przyswojenia długich ciąg&oacute;w informacji.</p>
<p>Zakładkowa metoda zapamiętywania-służy do zapamiętywania nowych informacji wykorzystując jako bazę informacje, kt&oacute;re już posiadamy. Innymi słowy, jeżeli posiadamy w pamięci jakiś zbi&oacute;r informacji to wykorzystujemy go do zapamiętania nowych. </p>
<p>Fonetyczny alfabet cyfrowy - znakomicie się sprawdza w przypadku ciąg&oacute;w cyfrowych, np. daty z historii, numery telefon&oacute;w, numery kont bankowych.</p>
<p>Metoda kształtowo-liczbowa- niezastąpiona w przypadku, kiedy istotny jest numer porządkowy przypisany do jakiegoś zjawiska, zdarzenia, czy pozycji. Np. Kto był trzynastym władcą Polski?</p>
<p>Technika sł&oacute;w zastępczych-nieoceniona w przypadku nowych, trudnych pojęć czy nauki sł&oacute;wek z języka obcego.</p>
<p>Technika pamięciowa służąca do zapamiętywania skomplikowanych wzor&oacute;w z matematyki, fizyki i chemii. </p>
<p>Każda z technik opr&oacute;cz trwałości zapamiętywania charakteryzuje się nieograniczoną ilością informacji, kt&oacute;rą można zapamiętać. W czasie jednej sesji nauki można zapamiętać 50, 70 a nawet i 100 sł&oacute;wek.</p>
<p>Cytaty - dzięki specjalnemu systemowi nauki pojedynczych kr&oacute;tkich cytat&oacute;w rozbudowujemy naturalną zdolność pamięci do zwiększania swojej pojemności. Metoda ta jest wykorzystywana min. w środowiskach prawniczych, kiedy to przyszły adwokat na egzaminie kończącym aplikacje musi wykazać się biegłą znajomością aktualnych przepis&oacute;w prawnych. Metoda ta umożliwia pamięciowe opanowanie np. całych kodeks&oacute;w.</p>
<p>Dodatkowo kursanci zapoznają się z og&oacute;lnymi zasadami funkcjonowania pamięci, dlatego po kursie mają dowolność modyfikowania i urozmaicania powyższych technik pamięciowych i potrafią dowolnie je modyfikować w zależności od materiału, kt&oacute;ry mają do opanowania.</p>

<hr />
<p>STANY SPRZYJAJĄCE NAUCE</p>
<hr />
<p>Koncentracja - w trakcie trwania kursu nasi uczniowie wykonują rozmaite ćwiczenia służące poprawieniu koncentracji, skutkuje to tym, że czas koncentracji wielokrotnie się wydłuża.</p>
<p>- to bardzo ważny dla nauki stan, to wtedy mamy łatwy dostęp do zasob&oacute;w prawej i lewej p&oacute;łkuli m&oacute;zgu, to wtedy nasz umysł pozostaje otwarty i chłonny na nowe informacje, a nauka przebiega bardziej efektywnie. Nasi uczniowie dzięki odpowiednim ćwiczeniom potrafią wchodzić w stan relaksu w ciągu kilku sekund niezależnie od okoliczności. Istotna jest także rola tego stanu w czasie sprawdzian&oacute;w czy r&oacute;żnego rodzaju egzamin&oacute;w, w stresie, kt&oacute;ry jest niestety częstym zjawiskiem przed szkolnymi sprawdzianami, ośrodki pamięci zostają zablokowane, więc sprawdzian jest ciężko napisać. Natomiast stan relaksu odblokowuje te obszaru m&oacute;zgu.</p>
<hr />
<p>UMIEJĘTNOŚCI INTRAPERSONALNE</p>
<hr />
<p>Wyznaczanie i osiąganie cel&oacute;w - uczniowie poznają kryteria poprawnie sformułowanego celu, potrafią stawiać sobie cele w taki spos&oacute;b aby były one osiągnięte.</p>
<p>Zarządzanie sobą w czasie - wobec powyższego nasi uczniowie uczą się planować sw&oacute;j czas według priorytet&oacute;w a nie nadawać priorytety temu co jest w planie, rozumieją, kt&oacute;re czynności są ważne, i kt&oacute;re przyczyniają się do realizacji ich cel&oacute;w, ma to oczywiście związek z rezultatami jakie osiągają.&nbsp; Dzięki temu potrafią pogodzić obowiązki szkolne z innymi zajęciami i zachować r&oacute;wnowagę.</p>

<hr />
<p>ORTOGRAFIA</p>
<hr />
<p>Nauka ortografii - po przez ćwiczenia, kt&oacute;re&nbsp; angażują w proces nauki wiele zmysł&oacute;w opanowanie poprawnej pisowni przychodzi znacznie szybciej.</p>

<hr />
<p>KOMPETENCJE WSPOMAGAJĄCE PROCES NAUKI</p>
<hr />
<p>Piktogramy - &bdquo; Jeden obraz jest wart więcej niż tysiąc sł&oacute;w&rdquo; uczymy naszych kursant&oacute;w, że skomplikowane zagadnienia stają się bardziej przejrzyste gdy przedstawimy je w postaci rysunku lub schematu. Dzięki temu uzyskujemy bardziej og&oacute;lny punkt widzenia i lepsze zrozumienie tematu.</p>
<p>System powt&oacute;rkowy - z przeprowadzonych badań psychologicznych wynika, że już następnego dnia zapominamy aż 80% informacji z dnia poprzedniego. Dlatego nasi uczniowie są świadomi, kiedy należy powtarzać daną partie materiału i jak to robić w spos&oacute;b szybki i efektywny.</p>
<p>Notatka nielinearna - tutaj nasi uczniowie zdobywają umiejętność samodzielnego tworzenia notatek, z kt&oacute;rych nauka jest łatwa i przyjemna a sam proces tworzenia takiej notatki jest niezwykle tw&oacute;rczy, bo angażuje obie p&oacute;łkule m&oacute;zgowe, dzięki takiemu podejściu informacje w notatce są uporządkowane logicznie i odzwierciedlają naturalne szlaki pamięciowe w umyśle. Dodatkową korzyścią tworzenia takiej notatki jest fakt, że po jej stworzeniu olbrzymią część informacji uczniowie zapamiętują.</p>

{% endblock %}
{% block script %}{% endblock %}