{% extends 'DefaultBundle::base.html.twig' %}
{%block body %}


<p>Regulamin określa zasady organizowania nabor&oacute;w i kurs&oacute;w</p>
<p>&shy;&bdquo;Lepiej się uczę, szybko czytam&rdquo; dla dzieci z klas 2-3 i 4-6 lat</p>
<p>ZASADY NABOR&Oacute;W I REZERWACJI MIEJSC NA KURSIE</p>
<p>&sect; 1</p>
<p>Organizator i kursanci</p>
<ol>
<li>EDU Szkoła szybkiego czytania i technik pamięciowych Oddział w Poznaniu zwana dalej EDU organizuje kursy &bdquo;Lepiej się uczę, szybko czytam&rdquo;.</li>
<li>Kursy &bdquo;Lepiej się uczę, szybko czytam&rdquo; przeznaczone są dla dw&oacute;ch grup wiekowych: 2-3 klasa oraz 4-6 klasa.</li>
<li>Kursantem jest uczestnik kursu &bdquo;Lepiej się uczę, szybko czytam&rdquo;.</li>
<li>Opiekunem jest osoba zgłaszająca udział kursanta i podpisująca umowę udziału w kursie.</li>
</ol>
<p>&sect; 2</p>
<p>Kurs</p>
<ol>
<li>Kursy &bdquo;Lepiej się uczę, szybko czytam&rdquo; dla dzieci z klas 2-3 oraz Kursy &bdquo;Lepiej się uczę, szybko czytam dla dzieci z klas 4-6 trwają 64 godziny lekcyjne.</li>
<li>Zajęcia odbywają się raz w tygodniu i trwają 90 minut (2 x po 45 minut).</li>
<li>W kursie &bdquo;Lepiej się uczę, szybko czytam&rdquo; dla dzieci z klas 2-3 mogą uczestniczyć dzieci 7-9 lat.</li>
<li>W kursie &bdquo;Lepiej się uczę, szybko czytam&rdquo; dla dzieci z klas 4-6 mogą uczestniczyć dzieci 10-12 lat. </li>
<li>W zajęciach uczestniczyć może maksymalnie 8 os&oacute;b.</li>
</ol>
<p>&sect; 3</p>
<p>Nabory</p>
<ol>
<li>Nabory na kurs trwają cały rok, przy czym kursy ruszają dwa razy do roku:</li>
</ol>
<p>a) edycja jesienna - grupy ruszają na przełomie września i października oraz</p>
<p>b) edycja wiosenna - grupy ruszają na przełomie lutego i marca.</p>
<p>&sect; 4</p>
<p>Termin i miejsce zajęć</p>
<ol>
<li>Daty rozpoczęcia zajęć wyznacza EDU.</li>
<li>O dokładnej lokalizacji zajęć informuje na stronie internetowej <a href="http://www.czytaniedladzieci.pl">www.czytaniedladzieci.pl</a>.</li>
<li>W szczeg&oacute;lnych wypadkach na miejsce zajęć może zostać wybrana inna lokalizacja.</li>
<li>W przypadku gdy liczba os&oacute;b w grupie nie przekroczy 6, EDU ma prawo taką grupę rozwiązać i zaproponować kursantom inną grupę lub zwr&oacute;cić pieniądze.</li>
</ol>
<p>&sect; 3</p>
<p>Zgłoszenie udziału w kursie</p>
<ol>
<li>Zapisanie dziecka na kurs odbywa się na podstawie zgłoszenia przez Opiekuna woli uczestnictwa dziecka w kursie oraz uregulowania opłaty rejestracyjnej w wysokości 50,00 złotych.</li>
<li>Opłatę rejestracyjną należy uregulować &nbsp; w terminie 3 dni od daty wysłania formularza rejestracyjnego na numer konta 03 2490 0005 0000 4530 6834 7489 w tytule przelewu wpisując Opłata rejestracyjna &ndash; Kurs dla dzieci EDU Poznań, imię i nazwisko kursanta.</li>
<li>Opłata rejestracyjna wliczana jest na poczet I czynszu za pierwszy miesiąc nauki&nbsp;</li>
<li>Cena promocyjna kursu: Aby skorzystać z ceny promocyjnej kursu należy w okresie objętym promocją cenową dokonać rezerwacji oraz uregulować opłatę rejestracyjną. Tylko spełnienie obu warunk&oacute;w gwarantuje uzyskanie promocji cenowej.</li>
<li>Zgłoszenie rezerwacji dokonywane jest przez Opiekuna za pomocą:</li>
</ol>
<p>a) formularza zgłoszeniowego na stronie internetowej <a href="http://www.czytaniedladzieci.pl">www.czytaniedladzieci.pl</a> lub</p>
<p>b) drogą mailową na adres e-mailowy wskazany na stronie internetowej <a href="http://www.czytaniedladzieci.pl">www.czytaniedladzieci.pl</a> lub</p>
<p>c) telefonicznie &ndash; pod numerem telefonu wskazanym na stronie internetowej <a href="http://www.czytaniedladzieci.pl">www.czytaniedladzieci.pl</a>.</p>
<p>6. Każde zgłoszenie udziału w kursie musi zawierać następujące elementy:</p>
<p>a) Imię, nazwisko oraz datę urodzenia: Opiekuna oraz dziecka,</p>
<p>b) Adres zamieszkania,</p>
<p>c) Telefon kontaktowy,</p>
<p>d) Wybrany termin zajęć z listy termin&oacute;w opublikowanej na stronie <a class=" link" href="http://www.czytaniedladzieci.pl">www.czytaniedladzieci.pl</a>.</p>
<p>7. Dane personalne i teleadresowe podane w zgłoszeniu są niezbędne do przygotowania umowy udziału w kursie i będą wykorzystywane tylko i wyłącznie na potrzeby kwalifikacji do określonej grupy wiekowej, przygotowania umowy oraz informowania Opiekuna o aktualnościach dotyczących zajęć.</p>
<p>8. Potwierdzenie przyjęcia zgłoszenia rezerwacji dokonywane jest przez EDU drogą mailową w terminie do 3 dni roboczych od daty zgłoszenia rezerwacji oraz zaksięgowaniu opłaty rejestracyjnej licząc od dnia następnego po dniu zgłoszenia.</p>
<p>9. EDU potwierdzając przyjęcie zgłoszenia przesyła drogą e-mailową do Opiekuna umowę udziału w kursie do wglądu.</p>
<p>10. Umowę do podpisu Opiekun otrzyma na pierwszych zajęciach kursu.</p>
<p>11. Zgłoszenie przez Opiekuna uczestnictwa dziecka w kursie i potwierdzenie przez EDU jest r&oacute;wnoznaczne z rezerwacją miejsca na kursie oraz zawarciem umowy udziału w kursie &bdquo;Lepiej się uczę, szybko czytam&rdquo;.</p>
<p>&sect; 4</p>
<p>Rezygnacja z kursu</p>
<ol>
<li>Anulowanie rezerwacji tj. rezygnacja z kursu możliwa jest do 7 dni roboczych przed terminem rozpoczęcia kursu.</li>
<li>W przypadku anulowania rezerwacji w terminie wymienionym w &sect; 4 pkt. 1 EDU zwraca Opiekunowi opłatę rejestracyjną.</li>
<li>Rezygnacja musi zostać zgłoszona przez Opiekuna co najmniej drogą mailową na adres e-mailowy: <a href="mailto:poznan@akademiaedukacji.pl">poznan@akademiaedukacji.pl</a>, z podaniem imienia i nazwiska dziecka oraz rodzaju kursu.</li>
<li>EDU potwierdza anulowanie rezerwacji drogą e-mailową oraz w terminie 3 dni od przyjęcia rezygnacji zwraca opłatę rejestracyjną na podany przez Opiekuna numer konta bankowego.</li>
<li>W przypadku naruszenia terminu z pkt. 1 EDU zatrzymuje wpłaconą przez Opiekuna opłatę rejestracyjną.</li>
<li>EDU może zażądać od Opiekuna nieodwołalnego potwierdzenia dokonanej rezerwacji.</li>
</ol>
<p>&sect; 5</p>
<p>Opłaty</p>
<ol>
<li>Opłata za uczestnictwo w kursie naliczana jest zgodnie z Umową kursu, niezależnie od faktycznej ilości godzin uczestnictwa dziecka w kursie.</li>
<li>Opłata jest regulowana w 9 comiesięcznych r&oacute;wnych czynszach według cen obowiązujących w okresie dokonania rezerwacji, cena promocyjna obowiązuje przy spełnieniu warunk&oacute;w określonych w &sect;3 pkt.4</li>
<li>Opłata regulowana jest przez Opiekuna do 15-tego każdego miesiąca za dany miesiąc kalendarzowy.</li>
<li>Do pierwszego czynszu wlicza się kwotę opłaty rejestracyjnej w wysokości 50,00 złotych.</li>
</ol>
<p>&sect; 6</p>
<ol>
<li>Wszelkie kwestie nieokreślone w niniejszym Regulaminie są szczeg&oacute;łowo przedstawione w umowie udziału w kursie.</li>
</ol>
{% endblock %}
{% block script %}{% endblock %}